# ASSIGNMENT 1

### '''1. What are the differences between operators and values in the following?
*
'hello'
-87.8
-
/
+
6'''

* , /, +, - are Arethematic operator by which we can perform arthematic operation and 'hello', -87.8, 6, are values on which we can perform operation.

* :is a multiplication operator which is used to multiply two values.
'hello': is a string value ,used when we have to print some charecter.
-87.8 : is negative floate value, in float value there is decimal value.
- : subtraction operator is used subtract one number from other number.
/ : divition operator is used to divide one number to other number.
+ : addition operator is used to add two values.
 6 : is a integer value.

###  2. What is the difference between string and variable?
spam
'spam'

'spam'is a string  because it enclosed under the cotes and spam is variable in which we can assign values.

###  3. Describe three different data forms.

Three data form are folling:
1. Integer
2. flotpoint number
3. string

###  4. What makes up an expression? What are the functions of all expressions?

Combination of values and operator is  expression .to reduce whole exprestion in single line is called function

###  5. In this chapter, assignment statements such as spam = 10 were added. What's the difference between a declaration and an expression?

An expression is defination that spam contain the value 10 and Declaration assign the value to spam that is int 10.

###  6. After running the following code, what does the variable bacon contain?
     bacon = 22
     bacon + 1

In [3]:
bacon = 22 #After running code bacon = 22 ,variable bacon contain the value 22
bacon

22

In [4]:
bacon + 1 # this code will not change value of bacon because it shoud be  (bacon = bacon + 1)
bacon

22

###  7. What should the values of the following two terms be?

'spam' + 'spamspam'
'spam' * 3

In [5]:
'spam' + 'spamspam'

'spamspamspam'

In [6]:
'spam' * 3

'spamspamspam'

###  8. Why is it that eggs is a true variable name but 100 is not?

eggs starts with charecter that's why eggs is true variable but 100 start with number and variable cant start with number.

###  9. Which of the following three functions may be used to convert a value to an integer, a floating-point number, or a string?

In [9]:
a = "35"
a = int(a)
b = "52"
b = float(b)
c = 69
c = str(c)
print(type(a))
print(type(b))
print(type(c))

<class 'int'>
<class 'float'>
<class 'str'>

### 10. What is the error caused by this expression? What would you do about it?

'I have eaten ' + 99 + ' burritos.'

In [10]:
'I have eaten ' + 99 + ' burritos.' #TypeError: can only concatenate str (not "int") to str

TypeError: can only concatenate str (not "int") to str

In [12]:
#'I have eaten ' + 99 + ' burritos.' #TypeError: can only concatenate str (not "int") to str
                                      # to remove this error typecast int into str
'I have eaten ' + '99' + ' burritos.'

'I have eaten 99 burritos.'